<div data-sly-resource=
             "${ '/content/experience-fragments/golfgame/us/en/site/header/master'
        @ resourceType='/libs/cq/experience-fragments/components/xfpage'}"></div>
<hr>
<hr>
<div>
    <h2>override body.html</h2>
</div>
<div>
    <sly data-sly-use.nav="com.adobe.aem.review.golfgame.core.models.NavigationModel"/>
    <h1>${nav.headline}</h1>
    <p>${nav.description}</p>
</div>


<hr>
<hr>
<div data-sly-resource=
             "${ '/content/experience-fragments/golfgame/us/en/site/footer/master'
        @ resourceType='/libs/cq/experience-fragments/components/xfpage'}"></div>

