<div data-sly-use.topNav="com.adobe.aem.review.golfgame.core.models.TopNav">
    <ul data-sly-list.item="${topNav.items}">
        <li><a href="${item.path}.html">${item.title}</a></li>
    </ul>
    <div class="cmp-helloworld" data-cmp-is="helloworld">
        <div class="cmp-helloworld__item" data-sly-test="${topNav.deepLevel}">
            <pre class="cmp-helloworld__item-output"
                 data-cmp-hook-helloworld="property">DeepLevel: ${topNav.deepLevel}</pre>
        </div>
    </div>
</div>